<a href="https://colab.research.google.com/github/thadvale/Python/blob/main/Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
coffee_cup='coffee'
print(coffee_cup)
coffee='coffee beans'
print(coffee)

first_name='thad'
last_name='vale'
full_name=f"{first_name}{last_name}"
print(full_name)

coffee
coffee beans
thadvale

In [ ]:
x = 8
y = 8
z = 8
print(5+3)
print(4+4)
print(2*4)
print(16/2)
#hello to everyone, this is a python comment


bicycles = ['trek', 'cannondale', 'redline', 'specialized', print(bicycles[0].title())]

In [ ]:

bicycles = ['trek', 'cannondale', 'redline', 'specialized']

message = f"My first bicycle was a {bicycles[0].title()}."

print(message)

My first bicycle was a Trek.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)


motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)


popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki
The last motorcycle I owned was a Yamaha.
The first motorcycle I owned was a Honda.

In [ ]:
#Printed full list of motorcycles
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

#Ducati removed from list of motorcycles
motorcycles.remove('ducati')
print(motorcycles)

#Removing Ducati from motorcycle list while printing a reason for doing so.
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
#Try it Yourself Coding Exercise Chapter 3

#Dinner Invintation List.
guests = ['Jordan Peterson', 'Elon Musk', 'Burrhus Frederic Skinner', 'Sigmund Freud', 'Carl Jung']
print(guests)

#Dinner Invintation List modified, Guest 'Sigmund Freud' was removed.
del guests[2]
print(guests)
cant_make_it = 'Sigmund Freud'
guests.remove(cant_make_it)
print(guests)
print(f"\n {cant_make_it.title()} can't make it to the dinner.")

#Dinner Invintation List Modified, Joe Rogan and Burrhus Frederic Skinner were added to the list. 
guests.append('Joe Rogan')
guests.insert(2, 'Burrhus Frederic Skinner')
print(guests)
print(f"\n Burrhus Frederic Skinner and Joe Rogan was added to the guestlist, as a bigger dining table was procured for the dinner.")

#Joe Rogan (4) , Carl Jung (3), and Burrhus Frederic Skinner (2), was removed from Dinner Invitation List using 'Pop' Method. 
print(guests)
popped_guests = guests.pop(4)
popped_guests = guests.pop(3)
popped_guests = guests.pop(2)
guest_popped4 = 'Joe Rogan'
guest_popped3 = 'Carl Jung'
guest_popped2 = 'Burrhus Frederic Skinner'
print(f"\n Sorry {guest_popped4.title()} we sincerely apologize, due to our dining table not arriving on time, we cannot accompany more guests at this time.")
print(f"\n Sorry {guest_popped3.title()} we sincerely apologize, due to our dining table not arriving on time, we cannot accompany more guests at this time.")
print(f"\n Sorry {guest_popped2.title()} we sincerely apologize, due to our dining table not arriving on time, we cannot accompany more guests at this time.")
#Remaining Dinner Invintation List guests
print(guests)
print(f"\n 3 Guests were popped from the Dinner Invintation List, due to our dining table not arriving on time. However Jordan Peterson and Elon Musk are still invited for dinner.")
#Remove all remaining Dinner guests.
print(guests)
del guests[0]
print(guests)
del guests[0]
print(guests)

['Jordan Peterson', 'Elon Musk', 'Burrhus Frederic Skinner', 'Sigmund Freud', 'Carl Jung']
['Jordan Peterson', 'Elon Musk', 'Sigmund Freud', 'Carl Jung']
['Jordan Peterson', 'Elon Musk', 'Carl Jung']

 Sigmund Freud can't make it to the dinner.
['Jordan Peterson', 'Elon Musk', 'Burrhus Frederic Skinner', 'Carl Jung', 'Joe Rogan']

 Burrhus Frederic Skinner and Joe Rogan was added to the guestlist, as a bigger dining table was procured for the dinner.
['Jordan Peterson', 'Elon Musk', 'Burrhus Frederic Skinner', 'Carl Jung', 'Joe Rogan']

 Sorry Joe Rogan we sincerely apologize, due to our dining table not arriving on time, we cannot accompany more guests at this time.

 Sorry Carl Jung we sincerely apologize, due to our dining table not arriving on time, we cannot accompany more guests at this time.

 Sorry Burrhus Frederic Skinner we sincerely apologize, due to our dining table not arriving on time, we cannot accompany more guests at this time.
['Jordan Peterson', 'Elon Musk']

 3 Guests were popped from the Dinner Invintation List, due to our dining table not arriving on time. However Jordan Peterson and Elon Musk are still invited for dinner.
['Jordan Peterson', 'Elon Musk']
['Elon Musk']
[]

In [ ]:
#Organizing Lists

#Alphabetical Order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

#Reverse Alphabetical Order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

cars = ['bmw', 'audi', 'toyota', 'subaru']

#Sorting a List Temporarily with sorted() Function
newline = '\n'
string = f"str1{newline}str2"

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

#Printing a List in Reverse Order
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

#Finding the Length of a List

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']
Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']
['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
#Chapter 4 Working with Lists & Loops

magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f" I can't wait to see your next trick, {magician.title()}.\n") 
  print("Thank you, everyone. That was a great magic show!")

alice
david
carolina
Alice, that was a great trick!
 I can't wait to see your next trick, Alice.

Thank you, everyone. That was a great magic show!
David, that was a great trick!
 I can't wait to see your next trick, David.

Thank you, everyone. That was a great magic show!
Carolina, that was a great trick!
 I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [ ]:
#Making Numerical Lists
for value in range(1, 5):
  print(value)
#Convert results of range value to list
  numbers = list(range(1,6))
  print(numbers)
#Create a list of even numbers from range 0-11 (2, 4, 6, 8, 10)
  even_numbers = list(range(2, 11, 2))
  print(even_numbers)
  #List of square numbers from each integer
  squares = []
  for value in range(1, 11):
    square = value ** 2
    squares.append(square)

    print(squares)
    #Written more concisely
    squares = []
    for value in range(1,11):
      squares.append(value**2)

print(squares)
#Statistics with a List of Numbers
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)
0
max(digits)
9
sum(digits)
45
#Comprehension List
squares = [value**2 for value in range(1, 11)]
print(squares)

In [ ]:
#Make a list of numbers from 1 - 1,000,000 then use min(), max(), sum() functions 
digits = [1, 10000000]
print([min(digits)], [max(digits)], [sum(digits)])

[1] [10000000] [10000001]

In [ ]:
#Create numerical list of odd numbers within specified range. 
for value in range(1, 21):
  print(value)
  
  odd_numbers = list(range(1, 21, 2))
  print(odd_numbers)

In [ ]:
#Create numerical list for multiples of 3 within specified range. 
for value in range(3, 31):
  print(value)

multiple_numbers = list(range(3, 31, 3))
print(multiple_numbers)

In [ ]:
#Create numerical list of cubed numbers within specified range. 
for value in range(1, 11):
  print(value)

cubed_numbers = [value**2 for value in range(1,11)]
print(cubed_numbers)

In [ ]:
#Working with Part of a List, Slicing a List

players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [ ]:
#Looping through a Slice
players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Here are the first three players on my team:")
for player in players[:3]:
  print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [ ]:
#Copying a List

my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [ ]:
#Tuples: Values cannot change 'immutable' 
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

#Looping through all Values in a Tuple
dimensions = (200, 50)
for dimensions in dimensions:
  print(dimensions)

In [ ]:
#Writing over a Tuple
dimensions = (200, 50)
print("Original dimensions")
for dimension in dimensions:
  print(dimensions)

  dimensions = (400, 100)
  print("\nModified dimensions:")
  for dimension in dimensions:
    print(dimensions)

In [ ]:
""

In [ ]:
#Simple Example Test
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

#Conditional Test checking for Equality
car = 'bmw'
car =='bmw'
#true ^
car = 'audi'
car =='bmw'
#false ^
car = 'Audi'
car == 'audi'
#false ^
car = 'Audi'
car.lower() == 'audi'
#true ^
car = 'Audi'
car.lower() == 'audi'
car

Audi
BMW
Subaru
Toyota

'Audi'

In [ ]:
#Checking for Inequality
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
  print("Hold the anchovies!")

#Numerical Comparison
age = 18
age == 18
#True ^

answer = 17
if answer !=42:
  print("That is not the correct answer. Please try again!")

age = 19
age < 21
#True ^
age <= 21
age > 21
#False ^
age > 21
#False ^
age >= 21
#False

Hold the anchovies!
That is not the correct answer. Please try again!

False

In [ ]:
#Checking Multiple Conditions
age_0 = 22
age_1 = 18
age_0 >= 21
age_1 >= 21
age_1 = 22
age_0 >= age_1 >= 21

True